/* ===== CONTACT CARD (MATCH DESIGN) ===== */
.heroCard--design {
    background: transparent;
    /* outer handled below */
    padding: 0;
    border: 0;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* White box */
.heroCard__outer {
    background: #ffffff;
    padding: 70px 28px;
    width: min(320px, 100%);
}

/* Red panel inside */
.heroCard__panel {
    background: #e5534b;
    /* close to screenshot red */
    border-radius: 6px;
    padding: 20px 18px;
}

.hero__left {
    display: flex;
    flex-direction: column;
    align-items: end;
}

/* Title inside red */
.heroCard__title2 {
    margin: 0 0 14px;
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 140% */
    text-transform: capitalize;
}

/* Submit button inside red (white button) */
.book-btn {
    width: 120px;
    height: 34px;
    border: 0;
    border-radius: 2px;
    background: #ffffff;
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 140% */
    text-transform: uppercase;
    cursor: pointer;
}

/* Align like design (submit left-ish) */
.book-btn {
    align-self: flex-start;
}

.banner-cta {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    display: flex;
    width: 90%;
    height: 36px;
    padding: 4px 9px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #000;
    background: #FFF;
}

input::placeholder {
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 280% */
    text-transform: uppercase;
}



/* ===== RESPONSIVE ===== */
@media (max-width: 960px) {

    .heroCard--design {
        justify-content: center;
    }

    .heroCard__outer {
        /* width: 100%; */
        padding: 18px;
    }

    .otpRow {
        grid-template-columns: 1fr;
    }

    .otpRow__btn {
        width: 120px;
    }
}

.heroCard__title {
    margin: 0 0 14px;
    font-size: 16px;
    color: #7c0f12;
    font-weight: 800;
    text-transform: lowercase;
}



@media (max-width: 960px) {

    .hero {
        padding: 0px 0 40px;
    }

    .hero__grid {
        grid-template-columns: 1fr;
        padding: 30px;
        justify-content: center;
    }

    .heroNav {
        position: static;
        margin-bottom: 20px;
    }
}