.contact-part {
    display: flex;
    width: 1305px;
    height: 354px;
    border-radius: 20px;
    border: 1px solid #FFF;
    background: linear-gradient(0deg, #B22726 0%, #B22726 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    gap: 220px;
    align-items: end;
}

.contact-part img {
    width: 400px;
    height: 353px;
    aspect-ratio: 206/177;
    border-radius: 20px 0 156px 20px;
    border: 1px solid #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    object-fit: cover;
}

.contact-heading {
    color: #FFD466;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.contact-sub-heading {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 77.778% */
    text-transform: capitalize;
}

.contact-btn {
    width: 155px;
    height: 36px;
    border-radius: 4px;
    background: #FFF;
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 140% */
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
    padding: 20px;

}

.btn {
    display: flex;
    align-items: end;
    justify-content: end;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

input {
    width: 100%;
    height: 34px;
    margin-bottom: 10px;
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #FFF;
    background: linear-gradient(0deg, #B22726 0%, #B22726 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: white;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

input::placeholder {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 280% */
    text-transform: uppercase;
}

.phone-row {
    display: flex;
    gap: 6px;
}


button {
    width: 50%;
    height: 36px;
    background: #fff;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 140% */
    text-transform: uppercase;
}

button:hover {
    background: #000;
    color: #fff;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


@media(max-width:1439px) {
    .contact-part {
        width: 100%;
        flex-wrap: wrap;
        height: auto;
        align-items: center;
        justify-content: center;
        gap: 0px;

    }

    .contact-part img {
        width: 100%;
        height: auto;
    }

    form {
        gap: 10px;
    }

    .btn {
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:767px) {
    .contact-sub-heading {
        font-size: 20px;

    }

    .contact-heading {
        font-size: 20px;
        line-height: normal;
    }

    .contact-info {
        align-items: center;
        gap: 10px;
    }

    button {
        width: 100%;
    }

    .btn {
        align-items: center;
    }
}